<section>
	<ul class="articles unstyled">
	    <li ng-show="showInput">
	        <form ng-submit="saveFactory(factory)">
    	        <input type="text"
    	           ng-required
    	           ng-model="factory.name"
    	        >
	        </form>
	    </li>
	    <li ng-repeat="factory in factories | orderBy:'created'">
            <div factory="factory" popup="popup">
            </div>
	    </li>
	</ul>
	<h1 ng-hide="!!factories">No factories yet.</h1>
	<div>
	    Why don't you 
	    <button ng-click="enableInput()">
	    Create One
        </button>
    </div>
</section>