<div class="modal-header">
    <h3>Select action for factory {{factory.name}}</h3>
    Last modified by {{factory.user.username}}
</div>
<div class="btn-group">
    <button type="button"
        class="btn btn-primary"
        btn-radio="'generate'"
        ng-model="button.model">
        Generate nodes
    </button>
    <button type="button"
        class="btn btn-primary"
        btn-radio="'delete'"
        ng-model="button.model">
        Delete
    </button>
</div>
<div class="modal-footer" ng-show="button.model=='delete'">
    <button type="button" class="btn btn-primary" ng-click="ok(button.model, factory)">OK</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>    
</div>
<form class="modal-body"
      ng-show="button.model=='generate'" 
      ng-submit="ok(button.model, factory)"
      name="form.popup">
    <div class="form-group">
        <label for="nameId">Name</label>
        <input id="nameId"
            class="form-control"
            type="text"
            name="name" 
            ng-model="factory.name"
            required>
        <div ng-show="nameRequiredError(form.popup)">
            The factory's name is required
        </div>
    </div>
    <div class="form-group">
        <label for="numberId">Number of samples to show (range 1-15)</label> 
        <input id="numberId"
            class="form-control"
            type="text"
            name="number" 
            ng-model="factory.number"
            required
            valid-range >
        <div ng-show="numRequiredError(form.popup)">
            The number of samples is required
        </div>
        <div ng-show="numOutOfRangeError(form.popup)">
            The valid range is between 1 and 15
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">OK</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>    
    </div>
</form>
