h1 {
    text-align:center
}

ul, li {
    list-style-type: none;
}

[factory] li.nodes {
    display: inline-block;
    margin-right: 2px;
}

[factory] li.nodes img {
    width: 30px;
    
}
[factory] img {
    width: 75px;
}